{% extends 'iravinaweb/base.html' %} 

{% block content %}
<div class="banner-carousel banner-carousel-1 mb-0">
    <div class="banner-carousel-item" style="background-image:url(/static/iravinaweb/images/bg1.jpg)">
      <div class="slider-content">
          <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-md-12 text-center">
                  <h2 class="slide-title d-inline bg-dark" data-animation-in="slideInLeft"> 25 Years of expertise in </h2>
                  <h3 class="slide-sub-title text-light" data-animation-in="slideInRight">Vietnam</h3>
                  <p data-animation-in="slideInLeft" data-duration-in="2.5">
                      <a href="services.html" class="slider btn btn-primary">Our Services</a>
                      <a href="contact.html" class="slider btn btn-primary border">Contact Now</a>
                  </p>
                </div>
            </div>
          </div>
      </div>
    </div>

    <div class="banner-carousel-item" style="background-image:url(/static/iravinaweb/images/bg2.jpg)">
        <div class="slider-content text-left">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                  <div class="col-md-12">
                    <h2 class="slide-title-box" data-animation-in="slideInDown">Your Trustable Partner</h2>
                    <h3 class="slide-title" data-animation-in="fadeIn">For business opportunities</h3>
                    <h3 class="slide-sub-title" data-animation-in="slideInLeft" data-duration-in="2.5">Your Choice is Simple</h3>
                    <p data-animation-in="slideInRight">
                        <a href="services.html" class="slider btn btn-primary">Our Services</a>
                    </p>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="banner-carousel-item" style="background-image:url(/static/iravinaweb/images/bg4.jpg)">
        <div class="slider-content text-right">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                  <div class="col-md-12">
                    <h2 class="slide-title d-inline bg-dark" data-animation-in="slideInDown">For entries to vietnam</h2>
                    <h3 class="slide-sub-title text-light" data-animation-in="fadeIn">get help to solve visa issues </h3>
                    <!-- <p class="slider-description lead" data-animation-in="slideInRight">We will deal with your failure that determines how you achieve success.</p> -->
                    <div data-animation-in="slideInLeft" data-duration-in="2.5">
                        <a href="contact.html" class="slider btn btn-primary" aria-label="contact-with-us">Get Free Quote</a>
                        <a href="about.html" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn more</a>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="banner-carousel-item" style="background-image:url(/static/iravinaweb/images/bg5.jpg)">
        <div class="slider-content text-left">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                  <div class="col-md-12">
                    <!-- <h2 class="slide-title-box" data-animation-in="slideInDown">Your Trustable Partner</h2> -->
                    <h3 class="slide-title d-inline bg-dark" data-animation-in="fadeIn">your guide in touristic travels</h3>
                    <h3 class="slide-sub-title text-dark" data-animation-in="slideInLeft">tailor your holiday with us</h3>
                    <p data-animation-in="slideInRight" data-duration-in="2.5">
                        <a href="services.html" class="slider btn btn-primary">Contact Us</a>
                    </p>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="banner-carousel-item" style="background-image:url(/static/iravinaweb/images/bg6.jpg)">
        <div class="slider-content text-right">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                  <div class="col-md-12">
                    <h2 class="slide-title d-inline bg-dark" data-animation-in="slideInDown">be sure to be supported</h2>
                    <h3 class="slide-sub-title" data-animation-in="fadeIn">for all kinds of legal issues </h3>
                    <!-- <p class="slider-description lead" data-animation-in="slideInRight">We will deal with your failure that determines how you achieve success.</p> -->
                    <div data-animation-in="slideInLeft" data-duration-in="2.5">
                        <a href="contact.html" class="slider btn btn-primary" aria-label="contact-with-us">consult us</a>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>

      <div class="banner-carousel-item" style="background-image:url(/static/iravinaweb/images/bg7.jpg)">
        <div class="slider-content text-left">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                  <div class="col-md-12">
                    <!-- <h2 class="slide-title-box" data-animation-in="slideInDown">Your Trustable Partner</h2> -->
                    <h3 class="slide-title d-inline bg-dark" data-animation-in="fadeIn">reach out products and clients with us for your</h3>
                    <h3 class="slide-sub-title text-light" data-animation-in="slideInLeft">import-export with Vietnam</h3>
                    <p data-animation-in="slideInRight" data-duration-in="2.5">
                        <a href="services.html" class="slider btn btn-primary">Contact Us</a>
                    </p>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <section class="call-to-action-box no-padding">
        <div class="container">
          <div class="action-style-box">
              <div class="row align-items-center">
                <div class="col-md-8 text-center text-md-left">
                    <div class="call-to-action-text">
                      <h3 class="action-title">You are not alone in vietnam with us</h3>
                    </div>
                </div>
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                    <div class="call-to-action-btn">
                      <a class="btn btn-dark" href="#">contact us</a>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </section>


<section id="ts-features" class="ts-features">
    <div class="container">
      <div class="row">
          <div class="col-lg-6">
            <div class="ts-intro">
                <h2 class="into-title">About Us</h2>
                <h3 class="into-sub-title">We support you everywhere in vietnam</h3>
                <p>As Vietnam is both a beautiful country with lots of opportunities and has different challenges, you may need a guide to discover the country and solve the issues. We understand you very well! No matter if you need an expert, a partner or an agent, Iravina is ready and capable of serving your needs in Vietnam.</p>
            </div>
  
            <div class="gap-20"></div>
  
            <div class="row">
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-trophy"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">We've Repution for Expertise</h3>
                      </div>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-sliders-h"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">We've a wide network</h3>
                      </div>
                  </div>
                </div>
            </div>
  
            <div class="row">
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-thumbs-up"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">Guided by Commitment</h3>
                      </div>
                  </div>
                </div>
  
                <div class="col-md-6">
                  <div class="ts-service-box">
                      <span class="ts-service-icon">
                        <i class="fas fa-users"></i>
                      </span>
                      <div class="ts-service-box-content">
                        <h3 class="service-box-title">A Team of Professionals</h3>
                      </div>
                  </div>
                </div>
            </div>
          </div>
  
          <div class="col-lg-6 mt-4 mt-lg-0">
            <h3 class="into-sub-title">Our Expertise</h3>
            <p>Our 25 years of hands-on experience, connection of business, and network in government offices provide various solutions in all fields.</p>
  
            <div class="accordion accordion-group" id="our-values-accordion">
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Legal Services
                        </button>
                      </h2>
                  </div>
                
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#our-values-accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata
                      </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Business and Investment
                        </button>
                      </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata
                      </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header p-0 bg-transparent" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Tourism and Culture
                        </button>
                      </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#our-values-accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata
                      </div>
                  </div>
                </div>
            </div>  
          </div>
      </div>
    </div>
  </section>
{% endblock %}

